<!--p8-3-->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>
<!--bootstrap이 jquery에 의존하므로 jquery가 먼저 호출되도록 위에 작성-->
<!--무거운 js(자바스크립트)파일은 헤더가 아닌 푸터(footer) 부분에 작성한다-->
</body>
</html>