<!--p8-3-->

<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
<!--    위에 것들은 공통적으로 mustache 파일에 다 들어감-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--열린 태그기 때문에 끝에 />로 안끝남-->
<!--부트스트랩 라이브러리를 cdn 방법으로 외부에 있는것을 불러쓴것임-->
<!--    경량화 되있는 css는 헤더부분에 미리 불러와서 페이지 로딩 속도를 높인다-->
</head>
</html>